{{ define "main" }}
    {{ if .Site.Params.hero }}
    {{ partial "hero.html" . }}
    {{ end }}

    {{ if .Site.Params.panel }}
    {{ partial "panel.html" . }}
    {{ end }}

    {{ if .Content }}
    {{ partial "single/content.html" . }}
    {{ end }}

    <!-- {{ if .Site.GetPage "/news" }}
    {{ partial "news.html" . }}
    {{ end }} ##commented to disable news banner on front page-->

    {{ if .Site.Params.keyfeatures }}
    {{ partial "keyfeatures.html" . }}
    {{ end }}

    <!-- {{ if .Site.Params.shell }}
    {{ partial "shell.html" . }}
    {{ end }} #shell.html not provided by upstream package-->

    <!-- {{ if .Site.Params.tabs }}
    {{ partial "tabs.html" . }}
    {{ end }} #tabs.html not provided by upstream package -->

    <!-- {{ if .Site.Params.casestudies }}
    {{ partial "casestudies.html" . }}
    {{ end }} # casestudies.html not provided by upstream package--> 
{{ end }}
